
:root{
    --orange-main: #CD6326;
    --font-light:  #F7F7F7;
    --font-dark:  #333;
}


body {
    
    font-family: 'Open Sans';
    
}

button {
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 p {
    margin: 0;
}

a {
    color: inherit;
    font-style: normal;
}




.list {
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1400px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
    }
    
    


/** Header section */

.header{
    background-color: darkgreen;
    
}

.header-container{
    display: flex;
    align-items: center;
    padding-top: 20px;
    
    
}

.nav-header{
    display: block;
    align-items: center;
    
   
}

.logo{
    margin-right: 480px;
   
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.88;
    text-transform: uppercase;
    color: #F7F7F7;
    
}

.logo-img{
    padding-right: 15px;
    
}

.nav-item{
   
    font-weight: 400;
    font-size: 23px;
    line-height: 2.61;
    color: #F7F7F7;
}


.btn-header{
    border: 2px solid #CD6326;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    flex-shrink: 0;
    background-color: transparent;
    color: var(--font-light, #F7F7F7);
    text-align: center;
    font-size: 23px;
    font-family: Roboto;
   
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 61px;
    
}



/** Main section */
/** survival-section */

.survival-section {
    background: url(./img/header-section-bg.jpg) no-repeat center;
    box-shadow: -150px 0px 150px 0px #02160B;
    background-size: cover;
    margin-top: -92.88px;
    height: 780px;
    padding-top: 200px;
}

.survival-title{
    color: var(--orange-main, #CD6326);
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 51px;
    margin-top: 120px;
    
    
}

.survival-text{
    color: var(--font-light, #F7F7F7);
    font-size: 18px;
    line-height: 1.5;
    width: 274px;
    margin-bottom: 49px;
}

.survival-btn{
    border-radius: 5px;
    background: var(--orange-main, #CD6326);
    width: 160px;
    height: 60px;
    
}

.survival-section-container{
    display: flex;
    flex-direction: column;
}



/** latest articles section */

.latest-articles-section{
    background: #CCC;
    padding-top: 120px;
}

.latest-articles-title{
    color: var(--font-dark, #333);
    text-align: center;
    font-size: 48px;
    font-family: Open Sans;
    line-height: 72px;
    
    }

    .latest-articles-text{
        color: var(--font-grey, #666);
        text-align: center;
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 120px;
    
    }

.gallery{
    display: flex;
    align-items: center;
    gap:60px;
}

.gallery-item{

}

.gallery-subtitle{
    color: var(--font-light, #F7F7F7);
    text-align: center;
    font-size: 22px;
    line-height: 1.64;
}

.gallery-text{
    color: var(--font-light, #F7F7F7);
    text-align: center;
    font-size: 17px;
    line-height: 1.59;
}

.gallery-discription{
    margin-top: -120px;
    margin-bottom: 279px;
}

.notified{
color: var(--font-dark, #333);
text-align: center;
font-size: 27px;
line-height: 1.5;
margin-bottom: 60px;
}

.input-notified{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    
}

.input-form{
    display: flex;
    margin-bottom: 239px;
}

.input-notified-email{
    color: var(--font-grey, #666);
    font-size: 23px;
    font-family: Roboto;
    width: 510px;
    height: 60px;
    background: #CCC;
    border-radius: 1px #666;
    
    
    
    
}

.btn-submit{
    color: var(--font-light, #F7F7F7);
    text-align: center;
    font-size: 23px;
    font-family: Roboto;
    width: 120px;
    height: 59px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #CD6326;
    background: #CD6326;
}

/** Footer section */

.footer{
    background: url(./img/footer-bg.jpg) no-repeat center;
    background-size: cover;   

    
}

.logo-footer{
    margin-right: 120px;
}

.footer-container{
    display: flex;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.footer-nav{
    display: flex;
    align-items: center;
    gap: 85px;
    margin-right: 120px;
}

.footer-item{
    color: var(--font-light, #F7F7F7);
    font-size: 23px;
    line-height: 2.60;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 26px;
}